<section class="hero">
    <nav class="navbar is-fixed is-spaced is-transparent" role="navigation" aria-label="main navigation" id="mainNavbar">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end is-size-5" id="main-navbar-end">
                <a class="navbar-item" href="{% url 'base:homepage' %}">Home</a>
                <a class="navbar-item" href="{% url 'blog:home' %}">Blog</a>
                <a class="navbar-item" href="#my-projects">Projects</a>
                <a class="navbar-item" href="">Resume</a>
                <a class="navbar-item">Contact</a>

                {% if request.user.is_authenticated and request.user.is_staff %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless">
                            <i class="fa fa-user-circle fa-lg"></i>&nbsp;&nbsp;
                            <p class="is-size-6 has-text-weight-bold">
                                {{ user.username|title }}
                            </p>
                        </a>
                        <div class="navbar-dropdown">
                            <a href="{% url 'base:homepage' %}admin/" class="navbar-item">
                                <i class="fas fa-tools"></i>&nbsp;
                                Site Admin
                            </a>
                            <a href="{% url 'blog:create' %}" class="navbar-item">
                                <i class="far fa-file-alt"></i>&nbsp;
                                Create blog post
                            </a>
                            <a class="navbar-item">
                                <i class="fas fa-project-diagram"></i>&nbsp;
                                Add new project
                            </a>
                            <a class="navbar-item">
                                <i class="far fa-chart-bar"></i>&nbsp;
                                See website stats
                            </a>
                            <hr class="navbar-divider">
                            <a href="{% url 'base:logout' %}" class="navbar-item">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;
                                Log Out
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</section>
