{% extends 'base.html' %}

{% load hitcount_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    {% include 'includes/messages.html' %}
    {% if post %}
        <div class="container box">
            <h1 class="title">{{ post.title }}</h1>
            <p>{{ post.created_on|date:"d M Y" }}</p>
            {% get_hit_count for post as hit_count %}
            <p>{{ hit_count }} view{{ hit_count|pluralize }}</p>
            {% for tag in post.tags.all %}
                <span>#{{ tag }} </span>
            {% endfor %}

            {% if post.text %}
                {% autoescape off %}
                    <div class="content">{{ post.text|linebreaks }}</div>
                {% endautoescape on %}
            {% endif %}

            {% if post.post_images %}
                {% for photo in post.post_images.all %}
                    <img src="{{ photo.image.url }}" alt="" style="width: 100%; padding: 7px;">
                {% endfor %}
            {% endif %}


        </div>

    {% endif %}
{% endblock %}